body{
	background-color: #F5F5F5;
	/*background-image: url("images/bulb.jpg");
	background-repeat: no-repeat;
	background-size: cover;*/
}
li{
	list-style: none;
}
.test{
	border: 2px grey solid;
	height: 165px;
}
.test2{
	border: 2px grey solid;
	height: 165px;
}
	/*NavBar Start*/
	.logo{
		color: rgb(170, 166, 48);
		font-family: 'Great Vibes', cursive;
		font-size: 3em;
	}
	.nav a{
		font-family: 'Lato', sans-serif;
		font-size: 1.4em;
	}
	/*NavBar End*/

	/*Header start*/
	.page-header{
		height: 50%;
		border: none;
	}
	li h1{
		font-size: 1.4em;
	}
	ul{
		margin: 0 auto;
		padding: 0;
	}

	/*Header End*/

	/*About Start*/
	.aboutSect{
		margin-top: 2em;

	}
	.abtDesc{
		font-family: 'Lato', sans-serif;
	}
	/*About End*/
